@import '../_vars.scss';
@import '../form.scss';
@import '../_templates.scss';

#checkupContainer {
    width: 100%;
    display: grid;
    gap: 50px;
    padding: 30px;
    font-family: $fontContent;
}

.checkup {
    border: 2.5px solid $colorGreen;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;

    &__links {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: $colorGreen;
        color: $colorWhite;
        padding: 20px 0;
        font-size: 1.2em;

    }

    &__preparation {
        margin-bottom: 8px;
        font-size: 1.1em;
    }

    &__interpretation,
    &__preparation {
        display: none;
    }

    &__general {
        font-size: 1.1em;
        margin: 3% 5%;
    }

    &__description p {
        text-align: start;
    }
}

.link:hover {
    font-weight: 700;
    transform: scale(1.2);
}

.link1,
.link2,
.link3 {
    cursor: pointer;
}